.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%,0.1);
    max-width: 250px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: inline-block ;
}

.card .task-name{
    font-family:'calibri';
    margin: 0;
}

.card .task-desc{
    font-family: 'calibri';
    
}